@{
    ViewBag.Title = "Index";
}

<div ng-controller="HomeController">
    <center>
        <table border="1">
            <tr>
                <th>Less than 10Mb</th>
                <th>10Mb-50Mb</th>
                <th>More 100Mb</th>
            </tr>
            <tr>
                <td align="center">{{result.CountFilesLessThan10Mb}}</td>
                <td align="center">{{result.CountFilesBetween10And50Mb}}</td>
                <td align="center">{{result.CountFilesMoreThan100Mb}}</td>
            </tr>
        </table>
    </center>
    <hr />
    <p><b>Current folder:</b> <span class="curpath-text">{{result.CurrentPath}}</span></p>
    <hr />
    <p class="subdir-item" ng-repeat="item in result.SubdirsList" ng-click="getModel(item, result.CurrentPath)">
        {{item}}
    </p>
</div>