body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #f0f0f0;
    width: 800px;
    margin: 0 auto;
}

header, footer, nav, section {
    display: block;
}

.files-table {
    border: solid;
    border-width: 1px;
    border-color: darkgrey;
    width: 50%;
}

.th-files-table {
    background-color: darkgrey;
    color: white;
    font-weight: bold;
    border: none;
    border-color: darkgrey;
}

.tr-files-table {
    border: none;
}

.td-files-table {
    border: solid;
    border-width: 1px;
    border-color: darkgrey;
}


.curpath-text {
    color: gray;
}

.browse-table {
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    height: 500px;
    width: 90%;
}

.tr-browse-table {
    border: none;
}

.td-browse-table {
    border: none;
    vertical-align: text-top;
}

.subdir-item {
    color: blue;
}

.file-item {
    color: blue;
    text-decoration: underline;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
